.userHome {
  /* border: 5px solid green; */
  flex: 0.8;
  height: 100%;
  max-height: calc(100vh - 70px);
  min-height: calc(100vh - 70px);
  min-width: calc(100vw - 275px);
  /* max-width: calc(100vw - 275px); */
  width: 100%;
  flex-grow: 1;
  background-color: rgb(252, 252, 252);
}

.heading__components > h4 {
  font-size: 15px;
}

.userhome__main {
  /* border: 3px solid red; */
  height: 92.3vh !important;
  width: 100%;
  max-width: calc(100vw - 275px);
}

.usehome__heading {
  /* border: 1px solid black; */
  display: flex;
  background-color: white;
}

.usehome__allproducts {
  /* border: 2px solid purple; */
  display: flex;
  /* max-height: 92vh; */
}

.card__name__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usehome__allproducts {
  /* border: 9px solid purple; */
  padding: 20px 3px 10px 10px;
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.usehome__allproducts__inner {
  /* border: 2px solid red; */
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  /* height: 100%; */
  /* max-height: 89vh; */
}

.spinner__insider {
  /* border: 5px solid black; */
  height: 100vh;
  max-height: calc(100vh - 155px);
  max-width: calc(100vw - 330px);

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 912px) {
  .userhome__main {
    /* border: 3px solid red; */
    width: 100%;
    max-width: 100vw;
  }

  /* .card__product__image {
    width: 254px !important;
  }

  .card__name__price {
    width: 90% !important;
  }

  .card__product__description {
    display: block !important;
    max-width: 50% !important;
  } */
}

@media only screen and (max-width: 574px) {
  .card__product__image {
    width: 254px !important;
  }

  .card__name__price {
    width: 90% !important;
  }

  .card__product__description {
    display: block !important;
    max-width: 50% !important;
  }

  .card__body__custom {
    width: 100% !important;
  }
}

@media only screen and (max-width: 540px) {
  .card__product__image {
    width: 254px !important;
  }

  .card__name__price {
    width: 90% !important;
  }

  .card__product__description {
    display: block !important;
    max-width: 50% !important;
  }
}

@media only screen and (max-width: 280px) {
  .card__product {
    max-width: 80% !important;
  }

  .card__product__image {
    max-width: 225px !important;
  }

  .card__name__price {
    width: 80% !important;
  }
}
